.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border: 1px solid gray;
  border-top: none;
  border-radius: 0px 0px 8px 8px;

  .user_buttons {
    display: flex;
    gap: 10px;
  }

  h2 {
    cursor: pointer;
  }
}
